<br><br>	
  <h1 class="header center teal-text text-lighten-2">Chat for Coders</h1>
  <div class="row center">
    <h5 class="header col s12 light">Chat for coders to work together!</h5>
  </div>
  <div class="row center">
    <a href="/sign_up" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
  </div>
 <br><br>